@import "tailwindcss";

@theme {
    --color-yellow-otto: #E7B901;
    --color-yellow-otto-light: #FFD630;
    --color-graywhite: #F9FAFB;
}

@custom-variant landscape (@media (orientation: landscape));
@custom-variant portrait (@media (orientation: portrait));